/*
 * @Author: fg
 * @Date: 2022-05-05 15:40:34
 * @LastEditors: fg
 * @LastEditTime: 2022-05-05 15:46:45
 * @Description: input css
 */

.container{
  width: 100px;
  height: 100px;
  background-color: pink;
}