/*
 * @Author: fg
 * @Date: 2022-05-05 15:40:34
 * @LastEditors: fg
 * @LastEditTime: 2022-05-23 13:35:12
 * @Description: input css
 */
body {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/pages/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--fColor);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.containerIframe {
  position: absolute;
  top: 0;
  left: 0;
}

.container h1 {
  font-size: 0.8rem;
  padding-top: 2rem;
  padding-bottom: 0.4rem;
  padding-left: 0.9rem;
  font-weight: 600;
  box-sizing: border-box;
}
.container p {
  font-size: 0.32rem;
  transform: scale(0.9);
  padding-left: 0.7rem;
  padding-bottom: 1.6rem;
  box-sizing: border-box;
}
.container p.result {
  padding-bottom: 0.12rem;
}
.container .inputBox {
  width: 100%;
  height: 0.68rem;
  padding: 0 0.9rem;
  box-sizing: border-box;
  margin-bottom: 1.6rem;
}
.inputBox .inputContainer {
  width: 100%;
  height: 100%;
  padding: 0.1rem 0;
  box-sizing: border-box;
  border-bottom: 0.02rem solid var(--input-line);
}
.inputContainer img {
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.2rem;
  flex-shrink: 0;
}
.inputContainer input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  background: transparent;
  color: var(--fColor);
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputContainer input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: var(--input-placeholder-color);
}
/* 获取焦点 */
.inputContainer input:focus {
  outline: none;
  background: transparent;
}
.bottomBtn {
  width: 100%;
  height: 1.1rem;
  padding: 0 0.9rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.bottomBtn .btn {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  text-align: center;
  line-height: 1.1rem;
  background-color: var(--fColor);
  color: var(--fAction);
  font-weight: 500;
  border-radius: 0.55rem;
}
#alert {
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.32rem;
  padding: 0.1rem 0.2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.08rem;
  transition: bottom 0.5s cubic-bezier(0, -0.01, 0.41, -0.07);
}
